<h1>Add a Restaurant</h1>
<div>
  <form method="post">
    <div class="form-group">
      <label for="restaurant-name">Restaurant Name</label>
      <input id="restaurant-name" class="form-control"
        type="text" name="name"
        placeholder="Restaurant Name" required="required">
    </div>
    <div class="form-group">
      <label for="restaurant-type">Restaurant Type</label>
      <input id="restaurant-type" class="form-control"
        type="text" name="type"
        placeholder="Restaurant Type" required="required">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="healthy"> Healthy?
      </label>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
